sudo: true
dist: trusted

language: cpp

services:
  - docker

addons:
  apt:
    packages:
      - docker-ce

script:
  - docker build -t dit168.marble -f Dockerfile .

after_success:
#  - if [ "$TRAVIS_BRANCH" == "master" ]; then
#    docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD";
#    docker push USER/REPO;
#    fi