
span.dots {
  color: gray;
}

table#dataView {
  width: 80%;
}

table.dataFields {
  padding-left: 5em;
}

tr.hidden {
  visibility: collapse;
}

tr.warning {
  background-color: #ffc890;
}

th.signal-type {
  min-width: 50px;
}

th.signal-sender {
  min-width: 50px;
}

th.signal-name {
}

th.signal-frequency {
  min-width: 50px;
}

th.signal-timestamp {
  min-width: 100px;
}

td.field-name {
  min-width: 200px;
}

td.field-plot {
  min-width: 300px;
}

td.field-value {
}

h2{
  color: #6BBAA7;
  width: 100%;
}

h5 {
  color: #6c757d;
}

.light{
  background-color: #9aabb9 ;
}

.navy{
  font-color: #193446;
}

.width{
  width: 50%;
  display: inline-block}

.btn-primary {
  width:50%;
  display: inline-block;
  vertical-align: top;
  horiz-align: right;
  float: right;
  background-color: lightseagreen;
  border: none;
    }.btn:action{
   background-color: #235380;}

.navbar-toggler-icon{
  display: none;
}

.navbar-dark .navbar-toggler{
  border-color: rgb(20, 156, 156);
}




